/* GENERAL STYLES */
:root {
    --main-color: #303030;
    --second-color: #ffffff;
    --auxiliary-color: #9da4bd;
    --text-color: #555555;
    --color-focus: #ff6c00;
    --basic-font-weight: 600;
    --text-subtitle-case: uppercase;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin: 0 auto;

    outline: 2px solid yellow;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.button {
    min-width: 160px;
    padding: 12px 20px;
    border-radius: 25px;
    border: 1px solid var(--color-focus);
    background-color: transparent;

    font-size: 12px;
    font-family: inherit;
    font-weight: var(--basic-font-weight);
    line-height: 1.33;
    letter-spacing: 1.08px;

    text-transform: var(--text-subtitle-case);
    cursor: pointer;
    color: var(--second-color);

}

.subtitle {
    margin-bottom: 20px;

    font-size: 11px;
    font-weight: var(--basic-font-weight);
    line-height: 1.36;
    text-transform: var(--text-subtitle-case);

    color: var(--main-color);
}

.subtitle::before {
    content: "";
    margin-right: 20px;

    width: 60px;
    height: 1px;

    display: inline-block;

    vertical-align: middle;
    background-color: var(--main-color);
}

.title {
    margin-bottom: 44px;

    font-family: "Raleway";
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 2.1px;

    color: var(--main-color);
}

/* HEADER STYLES */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
}

.logo {
    margin-right: 131px;
    width: 69px;
    height: 55px;
}

.logo__img {
    width: 100%;
    height: 100%;
}

.header-list {
    display: flex;
}

.header-list__item {
    margin-left: 30px;
}

.header-list__item:first-child {
    margin-left: 0;
}

.header-list__link {
    position: relative;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;

    font-family: Open Sans;
    font-size: 12px;
    font-weight: var(--basic-font-weight);
    line-height: 1.3;
    letter-spacing: 1.2px;

    color: var(--second-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link:hover,
.header-list__link:focus {
    color: var(--color-focus);
}

.header-list__link--current::after,
.tel-button__tel--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--color-focus);

    transform: scaleX(0);
    opacity: 0;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link--current:hover::after,
.header-list__link--current:focus::after,
.tel-button__tel--current:hover::after,
.tel-button__tel--current:focus::after {
    transform: scaleX(1);
    opacity: 1;
}

.tel-button {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.tel-button__tel {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 40px;

    font-size: 12px;
    font-weight: var(--basic-font-weight);
    line-height: 1.3;
    letter-spacing: 1.2px;
    text-transform: var(--text-subtitle-case);

    color: var(--second-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-button__tel:hover,
.tel-button__tel:focus {
    color: var(--color-focus);
}

.tel-button__button,
.booking-form__button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-button__button:hover,
.tel-button__button:focus,
.booking-form__button:hover,
.booking-form__button:focus {
    background-color: var(--color-focus);
}


/* HERO STYLES */
.hero__container {
    display: flex;
}

.social-wrapper {
    width: 100px;
    display: flex;
    align-items: flex-end;
}

.social-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.social-list--transform {
    margin-left: 27px;
    margin-bottom: 40px;

    transform-origin: top left;
    transform: rotate(270deg);
}

.social-list::before {
    content: '';
    width: 60px;
    height: 1px;
    display: block;

    background-color: var(--main-color);
}

.social-list__link {
    display: block;
    font-size: 11px;
    font-weight: var(--basic-font-weight);
    line-height: 1.36;
    letter-spacing: 2.2px;

    color: var(--main-color);

    transition: color 250ms linear;
}

.social-list__link:hover,
.social-list__link:focus {
    color: var(--color-focus);
}

.hero-description {
    padding-top: 272px;
    padding-left: 100px;
    padding-bottom: 208px;
    flex-grow: 1;

    background-color: rgba(25, 28, 38, 0.2);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/bg-hero-opt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.subtitle--color {
    color: rgba(157, 164, 189, 0.6);
}

.subtitle--bg-color::before {
    background-color: rgba(157, 164, 189, 0.6);
}

.hero-title {
    margin-bottom: 20px;

    font-family: "Raleway";
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: 3.6px;

    color: var(--second-color);
}

.hero-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.36px;

    color: var(--auxiliary-color);
}

/* ABOUT STYLES */
.about {
    padding-top: 120px;
    padding-bottom: 120px;
}

.about__container {
    display: flex;
}

.about-img {
    margin-right: 30px;
}

.title--margin {
    margin-bottom: 20px;
}

.about-wrapper__text-visit {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.36px;

    color: var(--text-color);
}

.about-wrapper__about-text {
    margin-bottom: 42px;
    font-size: 14px;
    line-height: 1.9;
    letter-spacing: 0.28px;

    color: var(--text-color);
}

.about-wrapper__button,
.form-modal__button {
    color: var(--main-color);

    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-wrapper__button:hover,
.about-wrapper__button:focus,
.form-modal__button:hover,
.form-modal__button:focus {
    color: var(--second-color);
    background-color: var(--color-focus);
}

/* STYLES SERVICES AND PRICES */
.services {
    margin-right: auto;
    margin-left: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1660px;
    height: 100%;

    background-image: url("../images/bg-services.png"), linear-gradient(rgba(17, 19, 25, 1), rgba(17, 19, 25, 1));
    background-position: center;
    background-size: cover;

    background-color: rgba(17, 19, 25, 1);
}

.title--light-color {
    color: var(--second-color);
}

.our-price {
    display: flex;
    margin-bottom: 44px;
}

.services-list {
    padding: 30px 20px;
    width: calc((100% - 30px) / 2);
}

.services-list:not(:last-child) {
    margin-right: 30px;
}

.services-list--first {
    border: 1px solid #000;
    background-image: linear-gradient(rgba(157, 164, 189, 0.12), rgba(157, 164, 189, 0.12));
}

.services-list--second {
    background-image: linear-gradient(180deg, rgba(9, 11, 19, 1), rgba(9, 11, 19, 0.2) 100%);
}

.services-list__text {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.36px;

    color: #000000;
}

.services-list__text--color {
    color: var(--auxiliary-color);
}

.services-list__item {
    display: flex;
    justify-content: space-between;
}

.services-list__item:not(:last-child) {
    margin-bottom: 20px;
}

.button--services-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: var(--second-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--services-button:hover,
.button--services-button:focus {
    background-color: var(--color-focus);
}

/* STYLES BENEFITS */
.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits__container {
    display: flex;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 130px;
    width: 370px;
}

.benefits-list__item {
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    text-align: center;
    width: 170px;
    height: 133px;

    background-color: #f7f7f7;

}

.benefits-list__item:nth-child(2n + 1) {
    margin-right: 30px;
}

.benefits-list__item:nth-child(2n) {
    margin-top: 30px;
}

.wrapper-amount {
    margin-bottom: 6px;
}

.wrapper-amount__amount {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.28;
    letter-spacing: 2.1px;

    color: var(--main-color);
}

.wrapper-amount__plus {
    font-size: 16px;
    font-weight: var(--basic-font-weight);
    line-height: 1.37;

    color: var(--color-focus);
}

.wrapper-amount__text {
    font-size: 11px;
    font-weight: var(--basic-font-weight);
    line-height: 1.36;

    color: var(--main-color);
}

.benefits-description {
    padding-right: 70px;
    max-width: 500px;
}

.benefits-description__after-title {
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.36px;

    color: var(--text-color);
}

/* STYLES BARBERS */
.barbers {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f7f7f7;
}

.barbers-list {
    margin: -15px;
    display: flex;
}

.barbers-list__item {
    margin: 15px;
}

.description-img {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.wrapper-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(255, 108, 0, 0.5);

    transform: translateX(100%);
    opacity: 0;

    transition: transform 250ms linear, opacity 250ms linear;
}

.barbers-list__item:hover .wrapper-text {
    transform: translateX(0);
    opacity: 1;
}

.wrapper-text__barbers-description {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.36px;

    color: var(--second-color);

    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.barbers-list__item:hover .wrapper-text__barbers-description,
.barbers-list__item:focus .wrapper-text__barbers-description {
    opacity: 1;
}

.barbers-name {
    margin-bottom: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.36px;
    color: var(--main-color);
}

.barbers-list__job {
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.28px;

    color: var(--color-focus);
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons__item {
    width: 44px;
    height: 44px;
}

.social-icons__item:not(:last-child) {
    margin-right: 10px;
}

.social-icons__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    border-radius: 50%;
    color: #303030;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover,
.social-icons__link:focus {
    color: var(--color-focus);
}

.social-icons__icon {
    fill: currentColor;
}

/* STYLES GALLERY */
.gallery {
    padding-top: 120px;
    padding-bottom: 120px;
}

.subtitle--margin-bot {
    margin-bottom: 44px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.gallery-list {
    display: flex;
}

.gallery-list__item:not(:last-child) {
    margin-right: 30px;
}

/* STYLES BOOKING-CONTACTS */

.booking-contacts {
    margin-right: auto;
    margin-left: auto;
    max-width: 1660px;

    background-color: #191c26;
    background-image: url("../images/bg-contacts.png");
    background-position: right;
    background-size: calc(50% - 15px) 100%;
    background-repeat: no-repeat;

}

.container--book-cont-display {
    display: flex;
}

/* STYLES BOOKING */
.booking {
    width: calc(50% + 15px);
    padding-top: 130px;
    padding-right: 30px;
    /* padding-bottom: 183px; */
}

.booking-group {
    margin-bottom: 44px;

    display: flex;
    gap: 30px;
}

.booking-group__input-label {
    position: relative;

    width: 270px;
}

.booking-group__input-name {
    padding: 0;

    width: 100%;
    height: 24px;

    font-size: 14px;

    color: rgb(157, 164, 189);
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    background-color: transparent;
    outline: transparent;

    transition: border-color 250ms linear;
}

.booking-group__label-name {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 1.1px;

    text-transform: uppercase;

    transform-origin: left;
    transform: translate(0) scale(1);
    color: rgba(157, 164, 189, 0.4);

    transition: color 250ms linear, transform 250ms linear;

}

.booking-group__input-name:focus,
.booking-group__input-name:not(:placeholder-shown) {
    border-color: var(--color-focus);
}

.booking-group__input-name::placeholder {
    font-size: 14px;

    opacity: 0;

    transition: opacity 250ms linear;
}

.booking-group__input-name:focus::placeholder {
    opacity: 1;
    transition-delay: 250ms;
}

.booking-group__input-name:focus+.booking-group__label-name,
.booking-group__input-name:not(:placeholder-shown)+.booking-group__label-name {
    transform: translateY(-100%) scale(0.8);

    color: var(--color-focus);
}

.booking-textarea {
    position: relative;
    margin-bottom: 44px;
}

.booking-textarea__textarea-message {
    width: 100%;
    height: 76px;

    font-size: 14px;

    color: rgb(157, 164, 189);
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);

    background-color: transparent;
    resize: none;
    outline: transparent;

    transition: border-color 250ms linear;
}

.booking-textarea__textarea-message:focus,
.booking-textarea__textarea-message:not(:placeholder-shown) {
    border-color: var(--color-focus);
}

.booking-textarea__textarea-message::placeholder {
    font-size: 14px;

    opacity: 0;

    transition: opacity 250ms linear;
}

.booking-textarea__textarea-message:focus::placeholder {
    opacity: 1;
    transition-delay: 250ms;
}

.booking-textarea__label-message {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 1.1px;
    text-transform: uppercase;

    transform-origin: left;
    transform: translate(0, 0) scale(1);
    color: rgba(157, 164, 189, 0.4);

    transition: transform 250ms linear, color 250ms linear;
}

.booking-textarea__textarea-message:focus+.booking-textarea__label-message,
.booking-textarea__textarea-message:not(:placeholder-shown)+.booking-textarea__label-message {
    transform: translateY(-100%) scale(0.8);
    color: var(--color-focus);
}

/* STYLES CONTACTS */
.contacts {
    padding-top: 130px;
    padding-bottom: 120px;
    padding-left: 100px;
    width: calc(50% - 15px);
}

.title--individual-margin {
    margin-bottom: 40px;
}

.contacts-list_item-map {
    margin-bottom: 20px;
}

.contacts-list__link {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.36px;

    color: var(--auxiliary-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link--font-weight {
    font-weight: 700;
}

.contacts-list__icon {
    margin-right: 16px;
    width: 24px;
    height: 24px;
    fill: none;
    stroke: currentColor;
}

.contacts-list__link:hover,
.contacts-list__link:focus {
    color: var(--color-focus);
}

.contacts-list__item-tel {
    margin-bottom: 20px;
}

.contacts-list__item-mail {
    margin-bottom: 70px;
}

.contacts-list__link--text-decor {
    text-decoration: underline;
}

.subtitle--light-color {
    color: var(--second-color);
}

.day-time {
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.36px;

    color: var(--auxiliary-color);
}

/* STYLES-FOOTER */
.footer {
    padding-top: 56px;
    padding-bottom: 56px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer-text {
    font-size: 11px;
    font-weight: var(--basic-font-weight);
    line-height: 1.4;
    letter-spacing: 2.2px;

    color: var(--auxiliary-color);
}


/* STYLES OF BACKDROP AND MODAL WINDOW */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;

    background-color: rgba(25, 28, 38, 0.2);
    backdrop-filter: blur(2px);
    z-index: 99;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .backdrop__modal {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
}

.backdrop__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;

    min-width: 520px;
    min-height: 500px;

    background-color: var(--second-color);
    border-radius: 10px;

    transform: translate(-50%, -50%) scale(1);
    opacity: 1;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
    position: absolute;
    top: 10px;
    right: 10px;

    padding: 0;
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: var(--auxiliary-color);
    border: 1px solid var(--main-color);
}

.form-modal__modal-title {
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

.modal-label {
    position: relative;
    margin-bottom: 35px;
    display: block;
}

.modal-label__input {
    /* padding: 10px 35px; */
    height: 40px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;

    border-radius: 10px;
    border: 1px solid rgb(118, 118, 118);
    outline: 1px solid transparent;
    outline-offset: -1px;

    transition: outline 250ms linear, box-shadow 250ms linear;
}

.modal-input:focus {
    outline-color: var(--color-focus);
    box-shadow: 0 0 0 4px rgba(255, 108, 0, 0.25);
}

/* ПЕРЕВІРКА ВАЛІДНОСТІ (МОДАЛЬНЕ ВІКНО- ІНПУТ) */
.modal-alert__success,
.modal-alert__warning {
    fill: transparent;
    transform: scale(0.3);
    transform-origin: center;

    transition: fill 250ms linear, transform 250ms linear;
}

.modal-input:not(:placeholder-shown):required:valid {
    outline-color: rgb(47, 219, 47);
    box-shadow: 0 0 0 4px rgba(0, 128, 0, 0.5);
}

.modal-input:not(:placeholder-shown):required:valid~.modal-alert>.modal-alert__success {
    fill: rgb(47, 219, 47);
    transform: scale(1);
}

.modal-input:not(:placeholder-shown):required:invalid {
    outline-color: rgb(184, 57, 57);
    box-shadow: 0 0 0 4px rgba(255, 0, 0, 0.5);
}

.modal-input:not(:placeholder-shown):required:invalid~.modal-alert>.modal-alert__warning {
    fill: rgb(184, 57, 57);
    transform: scale(1);
}

.modal-label__span {
    position: absolute;
    top: 50%;
    left: 40px;

    transform: translateY(-50%);

    color: rgb(0, 0, 0);
    transition: transform 250ms linear, color 250ms linear;
}

.modal-input:focus+.modal-label__span,
.modal-input:not(:placeholder-shown)+.modal-label__span {
    transform: translate(-40px, -45px);
    color: var(--color-focus);
}

.icon-modal {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;

    fill: #212121;
    transform: translateY(-50%);

    transition: fill 250ms linear;
}

.modal-alert {
    position: absolute;
    top: 50%;
    right: 10px;

    fill: #212121;
    transform: translateY(-50%);

    transition: fill 250ms linear;
}

.modal-input:focus~.icon-modal,
.modal-input:focus~.modal-alert {
    fill: var(--color-focus);
}

.modal-input:not(:placeholder-shown)~.icon-modal {
    fill: inherit;
}

.modal-label__textarea {
    position: relative;
    padding: 10px;
    width: 100%;

    resize: none;
    border-radius: 10px;
    border: 1px solid rgb(118, 118, 118);
    outline: 1px solid transparent;
    outline-offset: -1px;

    transition: outline 250ms linear, box-shadow 250ms linear;
}

.modal-label__textarea:focus {
    outline-color: var(--color-focus);
    box-shadow: 0 0 0 4px rgba(255, 108, 0, 0.25);
}

.modal-label__comment {
    position: absolute;
    top: -22px;
    left: 0;

    color: var(--main-color);

    transition: color 250ms linear;
}

.modal-label__textarea:focus+.modal-label__comment {
    color: var(--color-focus);
}

.modal-check__checkbox {
    -webkit-appearance: none;
    appearance: none;

    width: 20px;
    height: 20px;

    border: 2px solid var(--auxiliary-color);
    border-radius: 5px;
    background-size: 0;

    transition: all 250ms linear;
}

.modal-check__checkbox:checked {
    background-image: url("../images/full-check.svg");

    background-origin: border-box;
    background-size: contain;
    background-repeat: no-repeat;

    border-color: var(--color-focus);
    background-color: var(--color-focus);

}

.modal-check--policy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.modal-check__text-policy {
    user-select: none;
}

.modal-check__agreement {
    color: var(--color-focus);
}

.form-modal__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}