/* GENERAL STYLES */
:root {
    --main-color: #303030;
    --second-color: #FFFFFF;
    --auxiliary-color: #9DA4BD;
    --text-color: #555555;
    --basic-font-weight: 600;
    --text-subtitle-case: uppercase;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: gray;
    /* ПОТІМ ВИДАЛИТИ */
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.button {
    font-family: inherit;
    font-size: 12px;
    font-weight: var(--basic-font-weight);
    line-height: 1.3;
    letter-spacing: 1.08px;
    text-transform: var(--text-subtitle-case);
}

.title {
    font-family: Raleway;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 2.1px;
}

.header {
    padding-top: 32px;
    background-color: gray;
    /* ПОТІМ ВИДАЛИТИ */
}

/* HEADER STYLES */
.header-link {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: var(--basic-font-weight);
    line-height: 1.3;
    letter-spacing: 1.2px;

    color: var(--second-color)
}

.header-link:hover,
.header-link:focus {
    color: #FF6C00;
}

.header-tel {
    font-size: 12px;
    font-weight: var(--basic-font-weight);
    line-height: 1.3;
    letter-spacing: 1.2px;
    text-transform: var(--text-subtitle-case);

    color: var(--second-color);
}

.header-button {
    color: var(--second-color);
}

/* HERO STYLES */
.hero-link,
.footer-link {
    font-size: 11px;
    font-weight: var(--basic-font-weight);
    line-height: 1.4;
    letter-spacing: 2.2px;

    color: var(--main-color);
}

.hero-link:hover,
.hero-link:focus {
    color: #FF6C00;
}

.hero-subtitle {
    font-size: 11px;
    font-weight: var(--basic-font-weight);
    line-height: 1.4;
    text-transform: var(--text-subtitle-case);

    color: rgba(157, 164, 189, 0.60);
}

.hero-title {
    font-family: Raleway;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: 3.6px;

    color: var(--second-color);
    background-color: gray;
    /*ПОТІМ ВИДАЛИТИ */
}

.hero-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.36px;

    color: var(--auxiliary-color);
}

/* ABOUT STYLES */
.about-subtitle {
    font-size: 11px;
    font-weight: var(--basic-font-weight);
    line-height: 1.4;
    text-transform: var(--text-subtitle-case);

    color: var(--main-color);
}

.about-title {
    color: var(--main-color);
}

.about>.text-visit {
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.36px;

    color: var(--text-color);
}

.about-text {
    font-size: 14px;
    line-height: 1.9;
    letter-spacing: 0.28px;

    color: var(--text-color);
}

.about-button {
    color: var(--main-color);
}

/* STYLES SERVICES AND PRICES */
.services-subtitle {
    font-size: 11px;
    font-weight: var(--basic-font-weight);
    line-height: 1.4;
    text-transform: var(--text-subtitle-case);

    color: rgba(157, 164, 189, 0.60);
}

.services-title {
    color: var(--second-color);
}

.services-list .text {
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.36px;
    color: white;
    /*ПОТІМ ВИДАЛИТИ  КОЛІР  */
}

/* .services-list .text-left {
    color: rgba(157, 164, 189, 0.12); ПОТІМ РОЗКОМЕНТУВАТИ
} */

.services-list .text-right {
    color: var(--auxiliary-color);
}

.services-button {
    color: var(--second-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* STYLES BENEFITS */
.benefits .number {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 2.1px;

    color: var(--main-color);
}

.plus {
    font-size: 16px;
    font-weight: var(--basic-font-weight);
    line-height: 1.4;

    color: #FF6C00;
}

.benefits-text {
    text-align: center;
    font-size: 11px;
    font-weight: var(--basic-font-weight);
    line-height: 1.4;
    color: var(--main-color);
}

.benefits-subtitle {
    font-size: 11px;
    font-weight: var(--basic-font-weight);
    line-height: 1.4;
    text-transform: var(--text-subtitle-case);

    color: var(--main-color);
}

.benefits-title {
    color: var(--main-color);
}

.benefits .after-title {
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.36px;

    color: var(--text-color);
}

/* STYLES BARBERS */
.barbers-subtitle {
    font-size: 11px;
    font-weight: var(--basic-font-weight);
    line-height: 1.4;
    text-transform: var(--text-subtitle-case);

    color: var(--main-color);
}

.barbers-title {
    color: var(--main-color);
}

.barbers-name {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.36px;
    color: var(--main-color);
}

.barbers .job {
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.28px;

    color: #FF6C00;
}

/* STYLES GALLERY */
.gallery-subtitle {
    font-size: 11px;
    font-weight: var(--basic-font-weight);
    line-height: 1.4;
    text-transform: var(--text-subtitle-case);

    color: var(--main-color);
}

/* STYLES BOOKING */
.booking-title {
    color: var(--second-color);
}

/* STYLES CONTACTS */
.contacts-title {
    color: var(--second-color);
}

.contacts-street {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 0.36px;

    color: var(--auxiliary-color);
}

.contacts-tel {
    font-size: 18px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.36px;

    color: var(--auxiliary-color);
}

.contacts-mail {
    font-size: 18px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.36px;
    text-decoration-line: underline;

    color: var(--auxiliary-color);
}

.contacts .text {
    font-size: 11px;
    font-weight: var(--basic-font-weight);
    line-height: 1.4;
    text-transform: var(--text-subtitle-case);

    color: #FFF;
}

.contacts .day-time {
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.36px;

    color: var(--auxiliary-color);
}

/* STYLES-FOOTER */
.footer-text {
    font-size: 11px;
    font-weight: var(--basic-font-weight);
    line-height: 1.4;
    letter-spacing: 2.2px;

    color: var(--auxiliary-color);
}