.about {
    margin-bottom: 84px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 100px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.about__container {
    // display: flex;
    @include displayed();
}

.pictures-about {
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 768px) {
        margin-right: 30px;

        display: flex;
        flex-direction: column;
        gap: 30px;
    } 

    @media screen and (min-width:1200px) {
        flex-direction: row;
    }
   }



.about-wrapper {
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width:1200px) {
        padding-right: 100px;
    }
}

.title--geometry {
    margin-bottom: 20px;

    @media screen and (max-width: 767px) {
        max-width: 306px;
    }

    @media screen and (max-width: 1199px) {
        letter-spacing: 1.4px;
        line-height: calc(33/28);
    }
}

.about-wrapper__text-visit,
 .about-wrapper__word{
    margin-bottom: 20px;

    line-height: calc(26 / 16);
    letter-spacing: 0.32px;

    color: $text-color;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: calc(30/18);
    }
}

 .about-wrapper__word{
    @media screen and (max-width:1199px) {
        display: none;
    }
    }

.about-wrapper__about-text {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: calc(26 / 14);
    letter-spacing: 0.28px;

    color: $text-color;

    @media screen and (min-width: 768px) {
        margin-bottom: 77px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 42px;
    }
}

.about-wrapper__button,
.form-modal__button {
    color: $main-color;

    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $second-color;
        background-color: $color-focus;
    }
}
