.footer {
    padding-top: 56px;
    padding-bottom: 56px;

    &__container {
        // display: flex;
        @include displayed();

        justify-content: space-between;
    }

    &-text {
        font-size: 11px;
        font-weight: $basic-font-weight;
        line-height: 1.4;
        letter-spacing: 2.2px;

        color: $auxiliary-color;
    }
}
