.header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    z-index: 100;

    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        backdrop-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &__container,
    &__nav {
        // display: flex;
        @include displayed();
        align-items: center;
        justify-content: space-between;

        position: relative;
        z-index: 2;
    }

    &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        z-index: 2;
    }

    &.no-transparency {
        background-color: rgba(25, 28, 38, 0.5);
        backdrop-filter: blur(4px);
    }

    @media screen and (max-width: 767px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.header-burger {
display: none;

    @media screen and (max-width: 767px) {
        position: relative;

display: block;

        width: 30px;
        height: 20px;

        z-index: 3;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;

            width: 100%;
            height: 2px;

            background-color: #ffffff;

            transform: scale(1);

            transition: transform 250ms linear;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        & > span {
            position: absolute;
            top: 9px;

            display: inline-block;

            width: 100%;
            height: 2px;

            background-color: #ffffff;

            transform: scale(1);

            transition: transform 250ms linear;
        }
    }

    &.active::before {
        top: 9px;

        transform: rotate(45deg);
    }

    &.active::after {
        bottom: 9px;

        transform: rotate(-45deg);
    }
}

.header-burger.active span {
    transform: scale(0);
}

.logo {
    width: 69px;
    height: 55px;

    display: block;

    z-index: 3;

    @media screen and (min-width: 768px) {
        margin-right: 60px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 131px;
    }
}

.logo__img {
    width: 100%;
    height: 100%;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 767px) {
        fill: #ffffff;
    }
    .no-transparency & {
        fill: $second-color;
    }
}

.header-list {
    @extend %list;
    // display: flex;
    @include displayed();

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.header-list__item {
    @media screen and (min-width: 768px) {
        margin-left: 16px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 30px;
    }

    &:first-child {
        margin-left: 0;
    }
}

.header-list__link,
.tel-button__tel {
    @extend %link;
    position: relative;
    // display: block;
    @include displayed(block);

    padding-top: 52px;
    padding-bottom: 52px;

    font-size: 12px;
    font-weight: $basic-font-weight;
    line-height: calc(16 / 12);
    letter-spacing: 1.2px;

    color: $second-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $color-focus;
    }
}
.tel-button__tel {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        align-self: flex-end;
    }

    @media screen and (max-width: 1199px) {
        padding: 0;
    }
}

.header-list__link--current::after,
.tel-button__tel--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20px;
    // display: block;
    @include displayed(block);

    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: $color-focus;

    transform: scaleX(0);
    opacity: 0;

    transition:
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
        bottom: 0;
    }
}

@media screen and (max-width: 1199px) {
    .tel-button__tel--current::after {
        display: none;
    }
}

.header-list__link--current:hover::after,
.header-list__link--current:focus::after,
.tel-button__tel--current:hover::after,
.tel-button__tel--current:focus::after {
    transform: scaleX(1);
    opacity: 1;
}

.tel-button {
    // display: flex;
    @include displayed();

    align-items: center;
    margin-left: auto;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-direction: column-reverse;
        align-self: flex-end;
    }

    @media screen and (min-width: 768px) {
        padding-right: 20px;

        gap: 24px;
    }

    @media screen and (min-width: 1200px) {
        gap: 40px;
    }
}

.button--header-transition,
.button--booking-transition {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--header-transition:hover,
.button--header-transition:focus,
.button--booking-transition:hover,
.button--booking-transition:focus {
    background-color: $color-focus;
}
