.hero {
    @media screen and (max-width: 767px) {
        padding-top: 208px;
        padding-bottom: 209px;

        background-color: rgba(25, 28, 38, 0.2);
        background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
            url("../images/bg-hero-opt.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero__container {
    // display: flex;
    @include displayed();
}

.social-wrapper {
    width: 120px;
    // display: flex;
    @include displayed();

    align-items: flex-end;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        width: 100px;
    }
}

.social-list {
    @extend %list;
    // display: flex;
    @include displayed();

    align-items: center;
    gap: 40px;

      &::before {
        content: "";
        width: 60px;
        height: 1px;
        // display: block;
        @include displayed(block);

        background-color: $main-color;
    }
}

.social-list--transform {
    margin-left: 37px;
    margin-bottom: 40px;

    transform-origin: top left;
    transform: rotate(270deg);
    // transform: rotate(270deg) translateX(40px) translateY(27px);

    @media screen and (min-width:1200px) {
    margin-left: 27px;
        
    }
}

.social-list__link {
    @extend %link;
    // display: block;
    @include displayed(block);

    font-size: 11px;
    font-weight: $basic-font-weight;
    line-height: calc(15 / 11);
    letter-spacing: 2.2px;

    color: $main-color;

    transition: color 250ms linear;

    &:hover,
    &:focus {
        color: $color-focus;
    }
}

.hero-description {
    @media screen and (min-width: 768px) {
        padding-top: 272px;
        padding-left: 120px;
        padding-bottom: 237px;
        flex-grow: 1;

        background-color: rgba(25, 28, 38, 0.2);
        background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
            url("../images/bg-hero-opt.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 208px;
        padding-left: 100px;
    }
}

.subtitle--color {
    color: rgba(157, 164, 189, 0.6);
}

.subtitle--letter-space {
    @media screen and (max-width: 767px) {
        letter-spacing: 1.1px;
    }
}

.subtitle--bg-color::before {
    background-color: rgba(157, 164, 189, 0.6);
}

.hero-title {
    margin-bottom: 20px;

    font-family: $secondary-font;
    font-size: 48px;
    line-height: calc(56 / 48);
    // letter-spacing: 2.4px;
    letter-spacing: 1.4px;

    color: $second-color;

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
        line-height: calc(85 / 72);
        font-size: 72px;
        letter-spacing: 3.6px;
    }
}

.hero-text {
    font-size: 16px;
    line-height: calc(30 / 18);
    letter-spacing: 0.36px;

    color: $auxiliary-color;

       @media screen and (min-width: 768px) and (max-width:1199px) {
     max-width: 360px;
    }

    @media screen and (min-width: 768px) {
        font-size: 18px;
    }

    @media screen and (min-width: 1200px) {
       max-width: 358px;
    }
}
