.services {
    padding-top: 84px;
    padding-bottom: 84px;

    max-width: 1200px;
    height: 100%;

    margin-right: auto;
    margin-left: auto;

    background-position: center;
    background-size: cover;

    background-color: rgba(17, 19, 25, 1);

    // мобільний екран
    background-image: url("../images/services-mob-bg.png"), linear-gradient(rgba(17, 19, 25, 1), rgba(17, 19, 25, 1));

    // ретіна для телефону
    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url("../images/services-mob-bg-@2x.png"),
            linear-gradient(rgba(17, 19, 25, 1), rgba(17, 19, 25, 1));
    }

    //   чи екран дорівнює або більший ніж 481px
    @media screen and (min-width: 481px) {
        background-image: url("../images/services-tab-bg.png"),
            linear-gradient(rgba(17, 19, 25, 1), rgba(17, 19, 25, 1));
    }

    @media screen and (min-width: 481px) and (min-device-pixel-ratio: 2),
        screen and (min-width: 481px) and (min-resolution: 192dpi),
        screen and (min-width: 481px) and (min-resolution: 2dppx) {
        background-image: url("../images/services-tab-bg-@2x.png"),
            linear-gradient(rgba(17, 19, 25, 1), rgba(17, 19, 25, 1));
    }

    //   чи екран дорівнює або більший ніж 769px
    @media screen and (min-width: 769px) {
        background-image: url("../images/services-desk-bg.png"),
            linear-gradient(rgba(17, 19, 25, 1), rgba(17, 19, 25, 1));
    }

    @media screen and (min-width: 769px) and (min-device-pixel-ratio: 2),
        screen and (min-width: 769px) and (min-resolution: 192dpi),
        screen and (min-width: 769px) and (min-resolution: 2dppx) {
        background-image: url("../images/services-desk-bg-@2x.png"),
            linear-gradient(rgba(17, 19, 25, 1), rgba(17, 19, 25, 1));
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 84px;
    }

    @media screen and (min-width: 768px) {
        padding-bottom: 100px;
        padding-top: 100px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 100px;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 120px;
        padding-top: 120px;
    }
}

.title--light-color {
    color: $second-color;
}

.title--geometry-services {
    font-size: 40px;

    @media screen and (max-width: 767px) {
        line-height: calc(47 / 40);
    }

    @media screen and (min-width: 768px) {
        font-size: 42px;
        letter-spacing: 2.1px;
    }
}

.our-price {
    margin-bottom: 44px;

    @media screen and (max-width: 1199px) {
        padding: 32px 34px;

        background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    }

    @media screen and (max-width: 767px) {
        padding: 30px;
    }

    @media screen and (min-width: 1200px) {
        // display: flex;

        @include displayed();

        justify-content: space-between;
    }
}

.services-list {
    @extend %list;

    flex-basis: calc((100% - 30px) / 2);

    @media screen and (min-width: 1200px) {
        padding: 30px 20px;
    }

    &--first {
        @media screen and (max-width: 1199px) {
            margin-bottom: 20px;
        }

        @media screen and (min-width: 1200px) {
            border: 1px solid #000;
            background-image: linear-gradient(rgba(157, 164, 189, 0.12), rgba(157, 164, 189, 0.12));
        }
    }

    &--second {
        @media screen and (min-width: 1200px) {
            background-image: linear-gradient(180deg, rgba(9, 11, 19, 1), rgba(9, 11, 19, 0.2) 100%);
        }
    }

    &__text {
        font-size: 14px;
        line-height: calc(20 / 14);
        letter-spacing: 0.28px;

        color: $auxiliary-color;

        @media screen and (min-width: 768px) {
            font-size: 18px;
            line-height: calc(30 / 18);
            letter-spacing: 0.36px;
        }
    }

    &__text--color {
        @media screen and (min-width: 1200px) {
            color: #000000;
        }
    }
}

.services-list__item {
    // display: flex;
    @include displayed();
    justify-content: space-between;
    align-items: baseline;
    gap: 4px;

    @media screen and (min-width: 768px) {
        gap: 12px;
    }

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.services-list__join-line {
    display: block;
    height: 1px;

    flex-grow: 1;
    flex-shrink: 0;
    background-color: rgba(157, 164, 189, 0.12);

  @media screen and (min-width:1200px) {
      &--dark-color {
        background-color: #000000;
    }
  }
}

.button--services-button {
    // display: block;
    @include displayed(block);
    margin-right: auto;
    margin-left: auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $color-focus;
    }
}
