$breakpoint: (
    phone: 480px,
    tablet: 768px,
    desktop: 1200px
);

.container {
    // phone screen 480px
        padding-left: 31px;
        padding-right: 31px;
        margin-right: auto;
        margin-left: auto;

        min-width: 320px;
        max-width: 480px;
    
    // tablet screen 768px
    @media screen and (min-width: 768px) {
        padding-left: 39px;
        padding-right: 39px;
       
        max-width: 768px;
    }

    // desktop screen 1200px
    @media screen and (min-width: 1200px) {
        padding-left: 15px;
        padding-right: 15px;
        
        max-width: 1200px;
    }
    // outline: 2px solid yellow;
}
