.subtitle {
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 11px;
    font-weight: $basic-font-weight;
    line-height: calc(15 / 11);
    text-transform: $text-subtitle-case;

    color: $main-color;

    &::before {
        content: "";
        width: 60px;
        height: 1px;

        // display: inline-block;
        @include displayed(inline-block);

        background-color: $main-color;
    }
}

.subtitle--color {
    color: rgba(157, 164, 189, 0.6);
}

.title {
    margin-bottom: 44px;

    font-family: $secondary-font;
    font-size: 28px;
    line-height: calc(49 / 42);
    letter-spacing: 2px;

    color: $main-color;

    @media screen and (min-width: 1200px) {
        font-size: 42px;
    }
}
