$main-color: #303030;
$second-color: #ffffff;
$auxiliary-color: #9da4bd;
$text-color: #555555;
$color-focus: #ff6c00;
$basic-font-weight: 600;
$text-subtitle-case: uppercase;
$main-font: "Open Sans", sans-serif;
$secondary-font: "Raleway", sans-serif;
